html 
{
background-color: #C49AFA;
font-family: "Comic Sans MS", Times, serif;
} 
 
title
{
text-align: center;
}

#header
{
text-align: center;
}

body section.gallery
{
    display: flex;
    flex-direction:row;
     padding:2em; 
    margin:auto; 
 justify-content:center;
 }
 
body section.game
{
    display: flex;
    flex-direction:row;
     padding:2em; 
   background-color: #98FF98 ;
 justify-content:center;
 } 
 
 body section.ant
{
    display: flex;
    flex-direction:row;
     padding:2em; 
   background-color: #98FF98 ;
 justify-content:center;
 } 
 
 body section.number
{
    display: flex;
    flex-direction:row;
     padding:2em; 
   background-color: #98FF98 ;
 justify-content:center;
 gap: 1px
 } 
 
 body section.worldreview
{
	
    display: flex;
    flex-direction:row;
     padding:2em; 
    margin:auto; 
 justify-content:center;
 gap: 2em;
 background-color: cyan;
 img{max-width:500px; width:100%}

 }
 
hr { 
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
} 

#second
{
  font-family: "Tahoma", Times, serif;
}
nav.ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: center;
}

body section.analysis 
  {
    margin: auto;
           padding: 2em;
          display: flex;
        flex-direction: row;
        justify-content: center;
		background-color: grey;

		
    }

body section.analysis2 
  {
    margin: auto;
           padding: 2em;
          display: flex;
        flex-direction: row;
        justify-content: center;
		background-color: #29AB87;

		
    }

#cookie {
  border: 5px solid #555;
  display:block;
        margin-left: auto;
        margin-right: auto;
}

 

#cat {
  border: 5px double black;
  
  display:block;
        margin-left: auto;
        margin-right: auto;
}

nav
{text-align: center; font-size: 3vw; }

li a {
padding: 2px;
background-color: #db7093;
 margin-left: auto;
  margin-right: auto;
   border-width:  0px 10px 0px 10px;
   border-style: solid;
   border-color: black;
   color:yellow;
   
}

nav ul li {display:inline; font-size: 2vw; padding:0.2vw; list-style-type: none;}   
    